.delete-user {
    font-size: 22px;
    cursor: pointer;
    color: red !important;
}

.show-user {
    font-size: 20px;
    cursor: pointer;
    color: green !important;
}

.p-t {
    color: #006064;
    margin-bottom: 2px !important;
    font-weight: 500;
}

.btn-contact {
    background-color: #EF6C00 !important;
}

.btn-send-1 {
    background-color: #EF6C00 !important;
}
.message-send{
        color: green;
            font-weight: 500;
}