.logo-img {
    height: 60px;
    width: 60px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color:#03A9F4 !important;
    font-weight: bold !important;
}
.css-1aquho2-MuiTabs-indicator{
    background-color:#03A9F4 !important;
}